[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = OpenStack Compute (Nova)
[access "refs/*"]
	owner = group user/ratailor
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ratailor
	label-Verified = -1..+1 group user/ratailor
	push = group user/ratailor
	read = group user/ratailor
	rebase = group user/ratailor
	removeReviewer = group user/ratailor
	submit = group user/ratailor
[access "refs/heads/*"]
	create = group user/ratailor
	push = +force group user/ratailor
	pushMerge = group user/ratailor
	read = group user/ratailor
[access "refs/tags/*"]
	push = group user/ratailor
	push = +force group user/ratailor
